.match-card {
  list-style: none;
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 45%;
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
}
.match-card-name {
  font-family: 'Bree Serif';
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
.match-card-result {
  font-family: 'Bree Serif';
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
.match-card-logo {
  width: 70px;
  height: 70px;
}
.match-card-status {
  font-family: 'Bree Serif';
  font-size: 18px;
  font-weight: 500;
}
.Won {
  color: #18ed66;
}
.Lost {
  color: #e31a1a;
}

@media screen and (min-width: 768px) {
  .match-card {
    width: 32%;
    margin-right: 10px;
  }
  .match-card-name {
    font-size: 22px;
  }
  .match-card-result {
    font-size: 18px;
  }
  .match-card-logo {
    width: 100px;
    height: 100px;
  }
  .match-card-status {
    font-size: 20px;
  }
}
